{% extends "app/layout.html" %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block content %}
 <div id="div">
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h3>Pregunta: {{ question.question_text }}</h3>
{% if error_message %}<p><strong style="color:red;"><b>{{ error_message }}</b></strong></p>{% endif %}

<form id="vote_form" action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}

{% if request.user.is_authenticated %}
     <table class="table">
        <tr>
            <th>Opción</th>
            <th>Votos</th>
            <th>Correcto/incorrecto</th>
        </tr>
        {% for choice in question.choice_set.all %}
            <tr> 
                <td><label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /></td>
                <td><label for="choice{{ forloop.counter }}">{{ choice.votes }}</label><br /></td>
                <td><label for="choice{{ forloop.counter }}">{{ choice.correct_check }}</label><br /></td>  
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'choice_add' question.id %}"><h3>Insertar Opciones</h3></a> 
    <a href="{% url 'chart' question.id %}"> <h3>Ver resultado de la votacion</h3> </a><br />

{% else %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    <h1 style="background-color:powderblue;font-size:20px;">{{ resultado }}</h1>
    <a href="{% url 'result' question.id %}"> <h3>Ver resultados</h3> </a><br />

{% endif %}
</form>

</div>


{% endblock %}

{% block javascript %}
<script>

      $("#vote_form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'vote' question.id %}",
            data: serializedData,
            success: function (result) {
                $("#div").html(result);
            }
           
        })
    })
    
</script>
{% endblock javascript %}