{% extends "app/layout.html" %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}


{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h3>Pregunta: {{ question.question_text }}</h3>
{% if error_message %}<p><strong style="color:red;"><b>{{ error_message }}</b></strong></p>{% endif %}
<form action="{% url 'vote' question.id %}" method="post" id="vote_form">
{% csrf_token %}
    <input type="text" required="" name="username" maxlength="150" id="id_username" autofocus="">
{% if request.user.is_authenticated %}
     <table class="table">
    <tr>
        <th>Choice text</th>
        <th>Votes</th>
        <th>Answer</th>
    </tr>
    {% for choice in question.choice_set.all %}
    <tr> 
        <td>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        </td>
        
        <td>
            <label for="choice{{ forloop.counter }}">{{ choice.votes }}</label><br />
        </td>
          <td>
            <label for="choice{{ forloop.counter }}">{{ choice.correct_check }}</label><br />
        </td>  
  
    </tr>
    {% endfor %}
    </table>
    <a href="{% url 'choice_add' question.id %}"><h3>Insertar Opciones</h3></a> 
    <a href="{% url 'chart' question.id %}"> <h3>Ver resultado de la votacion</h3> </a><br />
{% else %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote"/>
{% endif %}
</form>

{% endblock %}

