{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<form method="get">
    {{myFilter.form}}
    <button class="btn btn-primary" type="submit">Filtrar</button>
</form>

 
{% if latest_question_list %}
<table class="table">
        <tr>
            <th>Pregunta</th>
            <th>Categoría</th>
            <th>Fecha</th>
            <th>Dificultad</th>

        </tr>
        {% for question in latest_question_list %}
            <tr> 
                <td><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a><br /></td>
                <td><label for="choice{{ forloop.counter }}">{{ question.category_text }}</label><br /></td>
                <td><label for="choice{{ forloop.counter }}">{{ question.pub_date }}</label><br /></td>  
                <td><label for="choice{{ forloop.counter }}">{{ question.level }}</label><br /></td>  

            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}
