{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<form method="POST" class="post-form">
<select name="item_id">
{% for category_text in category_list %}
    <option value="{{ category_text }}">{{ category_text }}</option>
{% endfor %}
</select>

<div>
    <input type="submit" class="btn" value="Filtrar por tema" name="tema">
</div>
</form>

<form method="get">
    {{myFilter.form}}
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}
{% block js %}
<script>
    $(function () {

    });

</script>
{% endblock %}